<a href="https://colab.research.google.com/github/abdulatifkhan/first_nb.colab/blob/main/first_nb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Salom, Mohirdev")

Salom, Mohirdev

In [ ]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import torch
import tensorflow as tf
import keras

In [ ]:
tf.__version__

'2.8.2'

In [ ]:
torch.__version__

'1.11.0+cu113'

In [ ]:
import torch
torch.cuda.is_available()

True

In [ ]:
! ls

sample_data

In [ ]:
import pandas as pd
files = pd.read_excel("./data/4_oy_imtihon_natijalari.xlsx")
files.head()

   4-oy imtihon natijalari           Unnamed: 1 Unnamed: 2
0                      1.0   Abdumannon  Azimov       pass
1                      2.0     Ozoda Ernazanova       pass
2                      3.0     Sherzod Haydarov       pass
3                      4.0    Abdulaziz Erkinov       pass
4                      5.0  Burxoniddin Erkinov       pass